/*公共样式*/
body {
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    font-size: 14px;
    color: #333;
    /*background-color: #f0f0f0;*/
    font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
    line-height: 20px;
}

input {
    outline: none;
}
a,a:hover,a:focus,a:visited{
    color: #333;
}
.bg-white{
    background-color: #FFFFFF;
}

.am-header-default{
    background-color: #333333;
}

.am-header-default .am-header-title a{
    color: #F6DB7F;
}


/*底部导航*/
.am-navbar-default .am-navbar-nav{
    background-color: #333;
    border-top:1px solid #cccccc;
}
.am-navbar-default a{
    color: #8A8A8A;
}
.am-navbar-nav a .am-navbar-label{
    font-size: 13px;
}

 /*弹出框*/
 .am-modal-btn{
     color: #666;
     font-size: 17px;
 }
.am-modal-bd{
    padding: 20px;
    font-size: 18px;
    line-height: 30px;
    color: #333;
}
