<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/amazeui.min.css" rel="stylesheet" />
    <link href="~/Content/app.css" rel="stylesheet" />
    <link href="~/Content/layer.css" rel="stylesheet" />
    <link href="~/Content/liMarquee.css" rel="stylesheet" />
    <link href="~/Content/select_city.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Content/jquery.min.js"></script>
    <script src="~/Scripts/jquery.liMarquee.js"></script>
    <script src="~/Scripts/jquery_002.js"></script>
    <script src="~/Content/angular.min.js"></script>
    <script src="~/Content/amazeui.min.js"></script>


    <script src="~/Content/layer.js"></script>
    <script src="~/Content/select_city.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
